:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 75, 43);
    --secondary-color:  rgba(238,75,43,0.7);
    --header-height: 120px;
    --navbar-height: 46.5px;
    --search-box-height: calc(var(--header-height) - var(--navbar-height));
    --border-color: #c5c5c5;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2 {
    padding-right: 5px;
    padding-left: 5px;
    width: calc(100% / 6);
}
.grid__column-10 {
    padding-right: 5px;
    padding-left: 5px;
    width: calc(500% / 6);
}
.grid__column-2-10 {
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}
/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-input__label {
    font-size: 1.4rem;
}
.select-input__icon {
    color: rgb(131,131,131);
}
.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 26px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    display: none;
    box-shadow: 0 0 3px rgb(172,172,172);
    z-index: 2;
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 6px 0;
}
.select-input__link:hover {
    color: var(--primary-color);
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item {
    margin: 0 8px;
}
.pagination-item--active .pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}
.pagination-item__link {
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    --height: 30px;
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}